body {
    background-color: #e9f0fa;
    font-family: Helvetica;
}

a {
    color: #89c1fd;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #001e3a;
    text-align: center;
}

.form-container {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    padding: 15px;
}

form {
    display: flex;
}

.topic-examples {
    line-height: 1.5;
    font-size: 13px;
    margin-top: 3px;
    opacity: 0.8;
}

.generator {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    line-height: 20px;
    color: #272044;
}

.generator-submit {
    margin-left: 10px;
    background-color: #89c1fd;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px 24px;
    width: 150px;
    font-size: 16px;
}

.generator-result {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #b2d3f6;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
    border-radius: 10px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

@-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .generating {
    animation: blink-animation 1s steps(5, start) infinite;
  }